.dodge-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-top: 2px solid #e2e8f0;  /* Pronounced top border */
  border-bottom: 2px solid #e2e8f0;  /* Pronounced bottom border */
}

.dodge-item img {
  border-radius: 50%;
}

.dodge-item .flex-grow {
  flex-grow: 1;
}

.dodge-item .mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.dodge-item .ml-auto {
  margin-left: auto;
}